/* NavMenu */

.nv-NavMenu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: orange;
  left: 0;
  top: 100vh;
  -webkit-transition: all 1000ms cubic-bezier(1, 0, 0.115, 0.995);
  -moz-transition:  all 1000ms cubic-bezier(1, 0, 0.115, 0.995);
  -ms-transition:  all 1000ms cubic-bezier(1, 0, 0.115, 0.995);
  -o-transition:  all 1000ms cubic-bezier(1, 0, 0.115, 0.995);
  transition:  all 1000ms cubic-bezier(1, 0, 0.115, 0.995);
}

.nv-NavMenu.visible {
  top: 0;
}

/* NavMenuButton */

.nv-NavMenuButton {
  z-index: 2;
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: 100%;
  border: 1px solid;
  padding: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  transform: translate(-70%, -100%);
  -webkit-transition: all 1000ms cubic-bezier(1, 0, 0.115, 0.995);
  -moz-transition:  all 1000ms cubic-bezier(1, 0, 0.115, 0.995);
  -ms-transition:  all 1000ms cubic-bezier(1, 0, 0.115, 0.995);
  -o-transition:  all 1000ms cubic-bezier(1, 0, 0.115, 0.995);
  transition:  all 1000ms cubic-bezier(1, 0, 0.115, 0.995);
}

.nv-NavMenuButton.visible {
  transform: translate(-70%, -1400%);
}

.nv-NavMenuButton span {
  background: black;
  width: 2.5px;
  height: 2.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
}

.nv-NavMenuButton:hover span {
  width: 5px;
  height: 5px;
  transform: translate(-50%, -50%) !important;
}
