/* NavMenu */

.nv-NavMenu {
  width: calc(100% - 120px);
  height: 100vh;
  position: fixed;
  background: black;
  left: 60px;
  top: 100vh;
  -webkit-transition: all 1000ms cubic-bezier(1, 0, 0.115, 0.995);
  -moz-transition:  all 1000ms cubic-bezier(1, 0, 0.115, 0.995);
  -ms-transition:  all 1000ms cubic-bezier(1, 0, 0.115, 0.995);
  -o-transition:  all 1000ms cubic-bezier(1, 0, 0.115, 0.995);
  transition:  all 1000ms cubic-bezier(1, 0, 0.115, 0.995);
  z-index: 4;
}

.nv-NavMenu.visible {
  top: 0;
}

.nv-NavMenu-items {
  list-style: none;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 38%;
  font-size: 5.3vw;
  font-weight: normal;
  margin: 0;
  padding: 0;
  z-index: 5;
}

.nv-NavMenu .nv-NavMenu-items li {
  font-weight: 600;
  display: inline-block;
  position: relative;
}

.nv-NavMenu .nv-NavMenu-items li a {
  transition: all 600ms cubic-bezier(0.125, 0.71, 0.495, 0.99);
  -webkit-transition: all 600ms cubic-bezier(0.125, 0.71, 0.495, 0.99);
  -moz-transition: all 600ms cubic-bezier(0.125, 0.71, 0.495, 0.99);
  -o-transition: all 600ms cubic-bezier(0.125, 0.71, 0.495, 0.99);
}

.nv-NavMenu .nv-NavMenu-items li a.faded {
  opacity: 0.1;
}

.nv-NavMenu .nv-NavMenu-items li a:before {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  background-color: white;
  -webkit-transition: -webkit-transform 600ms cubic-bezier(0.25, 0, 0.115, 0.995);
  transition: -webkit-transform 600ms cubic-bezier(0.25, 0, 0.115, 0.995);
  transition: transform 600ms cubic-bezier(0.25, 0, 0.115, 0.995);
  transition: transform 600ms cubic-bezier(0.25, 0, 0.115, 0.995), -webkit-transform 600ms cubic-bezier(0.25, 0, 0.115, 0.995);
  -webkit-transition: transform 600ms cubic-bezier(0.25, 0, 0.115, 0.995);
  -moz-transition: transform 600ms cubic-bezier(0.25, 0, 0.115, 0.995);
  -o-transition: transform 600ms cubic-bezier(0.25, 0, 0.115, 0.995);
  transform: scale(0, 1);
  -moz-transform: scale(0, 1);
  -webkit-transform: scale(0, 1);
  -o-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
}

.nv-NavMenu .nv-NavMenu-items li a:hover:before {
  transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
}

.nv-NavMenu-ServiceList {
  right: 77%;
  width: 23%;
  text-align: right;
  position: absolute;
  top: 60px;
}

.nv-NavMenu-ServiceList-default {
  font-size: 0.75em;
  overflow: hidden;
  height: 1.3em;
}

.nv-NavMenu-ServiceList-default span {
  display: block;
  transition: all 350ms cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 350ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 350ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 350ms cubic-bezier(0.77, 0, 0.175, 1);
  transform: translateY(0%);
  -moz-transform: translateY(0%);
  -webkit-transform: translateY(0%);
  -o-transform: translateY(0%);
  -ms-transform: translateY(0%);
}

.nv-NavMenu-ServiceList-default.hidden span {
  transform: translateY(100%);
  -moz-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -o-transform: translateY(100%);
  -ms-transform: translateY(100%);
}

.nv-NavMenu-ServiceList-items {
  position: absolute;
  top: 0;
  right: 0;
}

.nv-NavMenu-ServiceList-items div {
  overflow: hidden;
  display: block;
  height: 1.3em;
}

.nv-NavMenu-ServiceList-items div span {
  transition: all 350ms cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 350ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 350ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 350ms cubic-bezier(0.77, 0, 0.175, 1);
  transform: translateY(100%);
  display: block;
  -moz-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -o-transform: translateY(100%);
  -ms-transform: translateY(100%);
}

.nv-NavMenu-ServiceList-items.visible div span {
  transform: translateY(0%);
  -moz-transform: translateY(0%);
  -webkit-transform: translateY(0%);
  -o-transform: translateY(0%);
  -ms-transform: translateY(0%);
}

.nv-NavMenu-MenuItemIndex {
  position: absolute;
  right: 77%;
  bottom: 80px;
  text-align: right;
  overflow: hidden;
}

.nv-NavMenu-MenuItemIndex .nv-NavMenu-MenuItemIndex-default.fade {
  transform: translateX(100%);
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -o-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.nv-NavMenu-MenuItemIndex span.nv-NavMenu-MenuItemIndex-default {
  position: static;
  transform: translateX(0%);
  -moz-transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -o-transform: translateX(0%);
  -ms-transform: translateX(0%);
  opacity: .2;
}

.nv-NavMenu-MenuItemIndex span {
  font-size: 2vw;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  will-change: transform;
  transition: all 350ms cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 350ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 350ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 350ms cubic-bezier(0.77, 0, 0.175, 1);
  transform: translateX(100%);
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -o-transform: translateX(100%);
  -ms-transform: translateX(100%);
}

.nv-NavMenu-MenuItemIndex span.visible {
  transform: translateX(0%);
  -moz-transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -o-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

/* NavMenuButton */

.nv-NavMenuButton .nv-NavMenuButton-label span:nth-of-type(1) {
  line-height: 0;
}

.nv-NavMenuButton.visible .nv-NavMenuButton-label span:nth-of-type(1) {
  opacity: 0;
}

.nv-NavMenuButton.visible .nv-NavMenuButton-label span:nth-of-type(2) {
  opacity: 1;
}

.nv-NavMenuButton {
  cursor: pointer;
  z-index: 5;
  position: fixed;
  bottom: 60px;
  right: 130px;
  -webkit-transition: all 1000ms cubic-bezier(1, 0, 0.115, 0.995);
  -moz-transition:  all 1000ms cubic-bezier(1, 0, 0.115, 0.995);
  -ms-transition:  all 1000ms cubic-bezier(1, 0, 0.115, 0.995);
  -o-transition:  all 1000ms cubic-bezier(1, 0, 0.115, 0.995);
  transition:  all 1000ms cubic-bezier(1, 0, 0.115, 0.995);
  transform: rotateZ(90deg) translateX(0);
  -moz-transform: rotateZ(90deg) translateX(0);
  -webkit-transform: rotateZ(90deg) translateX(0);
  -o-transform: rotateZ(90deg) translateX(0);
  -ms-transform: rotateZ(90deg) translateX(0);
  transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
}

.nv-NavMenuButton-label {
  font-size: .75em;
  display: inline-block;
  position: relative;
  -webkit-transition: -webkit-transform 800ms cubic-bezier(1, 0, 0.115, 0.995);
  transition: -webkit-transform 800ms cubic-bezier(1, 0, 0.115, 0.995);
  transition: transform 800ms cubic-bezier(1, 0, 0.115, 0.995);
  transition: transform 800ms cubic-bezier(1, 0, 0.115, 0.995), -webkit-transform 800ms cubic-bezier(1, 0, 0.115, 0.995);
  -webkit-transition: transform 800ms cubic-bezier(1, 0, 0.115, 0.995);
  -moz-transition: transform 800ms cubic-bezier(1, 0, 0.115, 0.995);
  -o-transition: transform 800ms cubic-bezier(1, 0, 0.115, 0.995);
  line-height: 60px;
  transform: translate(-180%, 50%);
  -moz-transform: translate(-180%, 50%);
  -webkit-transform: translate(-180%, 50%);
  -o-transform: translate(-180%, 50%);
  -ms-transform: translate(-180%, 50%);
  will-change: transform;
}

.nv-NavMenuButton-label span {
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
}

.nv-NavMenuButton.visible .nv-NavMenuButton-label span {
  transform: translate(530%, 5%);
  -moz-transform: translate(530%, 5%);
  -webkit-transform: translate(530%, 5%);
  -o-transform: translate(530%, 5%);
  -ms-transform: translate(530%, 5%);
}

.nv-NavMenuButton-label span:nth-of-type(2) {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  opacity: 0;
}

.nv-NavMenuButton-icon {
  border-radius: 100%;
  border: 1px solid white;
  padding: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  transform: translate(-50%, -50%);
}

.nv-NavMenuButton.visible {
  bottom: 85%;
}

.nv-NavMenuButton-icon span {
  background: white;
  width: 2.5px;
  height: 2.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
}

.nv-NavMenuButton-icon:hover span {
  width: 5px;
  height: 5px;
  transform: translate(-50%, -50%) !important;
}

/* NavItems */

.nv-NavItems {
  z-index: 5;
  text-align: center;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  top: 60px;
  left: 100%;
  height: 80px;
  mix-blend-mode: difference;
  transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -webkit-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transition: all 1000ms cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 1000ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 1000ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 1000ms cubic-bezier(0.77, 0, 0.175, 1);
  margin: 0;
  padding: 0;
  list-style: none;
}

.nv-NavItems li {
  font-size: 0.75em;
  margin-right: 5vh;
}

.nv-NavItems a {
  position: relative;
  display: inline-block;
  color: white;
}

.nv-NavItems a:before {
  content: "";
  display: block;
  background-color: white;
  width: 6px;
  border-radius: 50%;
  height: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transition: all 900ms cubic-bezier(0.3, 0, 0, 1);
  -webkit-transition: all 900ms cubic-bezier(0.3, 0, 0, 1);
  -moz-transition: all 900ms cubic-bezier(0.3, 0, 0, 1);
  -o-transition: all 900ms cubic-bezier(0.3, 0, 0, 1);
  transform: scale(0) translate(-50%, -1.2em);
  -moz-transform: scale(0) translate(-50%, -1.2em);
  -webkit-transform: scale(0) translate(-50%, -1.2em);
  -o-transform: scale(0) translate(-50%, -1.2em);
  -ms-transform: scale(0) translate(-50%, -1.2em);
  transform-origin: 0% 100%;
  -webkit-transform-origin: 0% 100%;
  -o-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.nv-NavItems li a.active:before {
  transform: scale(1) translate(-50%, -1.2em);
  -moz-transform: scale(1) translate(-50%, -1.2em);
  -webkit-transform: scale(1) translate(-50%, -1.2em);
  -o-transform: scale(1) translate(-50%, -1.2em);
  -ms-transform: scale(1) translate(-50%, -1.2em);
}

.nv-NavItems.visible {
  -webkit-transition: -webkit-transform 600ms cubic-bezier(0.9, 0, 0.1, 1);
  transition: -webkit-transform 600ms cubic-bezier(0.9, 0, 0.1, 1);
  transition: transform 600ms cubic-bezier(0.9, 0, 0.1, 1);
  transition: transform 600ms cubic-bezier(0.9, 0, 0.1, 1), -webkit-transform 600ms cubic-bezier(0.9, 0, 0.1, 1);
  -webkit-transition: transform 600ms cubic-bezier(0.9, 0, 0.1, 1);
  -moz-transition: transform 600ms cubic-bezier(0.9, 0, 0.1, 1);
  -o-transition: transform 600ms cubic-bezier(0.9, 0, 0.1, 1);
  transform: rotateZ(90deg) translateY(-130%);
  -moz-transform: rotateZ(90deg) translateY(-130%);
  -webkit-transform: rotateZ(90deg) translateY(-130%);
  -o-transform: rotateZ(90deg) translateY(-130%);
  -ms-transform: rotateZ(90deg) translateY(-130%);
}
