.nv-NavMenu {
  position: absolute;
  bottom: 60px;
  right: 40px;
  border-radius: 100%;
  border: 1px solid;
  padding: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
}

.nv-NavMenu span {
  background: black;
  width: 2.5px;
  height: 2.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
}

.nv-NavMenu:hover span {
  width: 5px;
  height: 5px;
  transform: translate(-50%, -50%) !important;
}
