@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  background: black;
  color: white;
}

* {
  font-family: 'Montserrat', sans-serif;
}

.grd {
  position: fixed;
  left: 60px;
  top: 0;
  bottom: 0;
  right: 60px;
  z-index: 5;
  height: 0;
}

.grd div:first-of-type {
  margin-left: 23%;
}

.grd div:nth-of-type(2) {
  margin-left: 38%;
}

.grd div:nth-of-type(3) {
  margin-left: 85%;
}

.grd div {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.1);
}
          
